.begin {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 200px;
  }
}

.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  .count__value {
    color: white;
    font-size: 24px;
  }

  button {
    width: 200px;
  }
}