* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #09111f;
}

a {
  text-decoration: none;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1D94E9;
}

.main {
  max-width: 1440px;
  display: block;
  margin: 80px auto 0 auto;
  width: 100%;
  min-height: calc(96vh - 62px);
}