.question {
  border: 2px solid white;
  padding: 20px 30px;
  border-radius: 10px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 34px;
  width: 100%;
}

.title__info {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}