.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 14px;
  position: fixed;
  z-index: 1;
  width: 100%;

  .navbar__user {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #1D94E9;
    font-weight: bold;
    gap: 12px;
    font-size: 19px;

    .navbar__img {
      width: 40px;
    }
  }

}