.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 14px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  .navbar__user {
    color: white;
    font-size: 20px;
    font-weight: 500;
  }

  .bi-box-arrow-right {
    color: white;
    font-size: 23px;
    cursor: pointer;
  }

  .navbar__link {

    span {
      color: white;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      color: white;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #1D94E9;
    font-weight: bold;
    gap: 12px;
    font-size: 19px;

    .navbar__img {
      width: 40px;
    }
  }

}